<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * You can include directly  * * * * * * * * * * * -->
<!-- * * * * * * * * * * in app.components.ts  * * * * * * * * * * * * * -->
<!-- * * * * * * template: '<router-outlet></router-outlet>' * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
